.chart-vertical-zero-line {
    -fx-stroke: e5e5e5;
    -fx-stroke-dash-array: 4 4;
    -fx-stroke-width: 1;
}

.chart-horizontal-zero-line {
    -fx-stroke: black;
    -fx-stroke-width: 2;
}

.chart-plot-background {
    -fx-background-color: white;
}